/* You can add global styles to this file, and also import other style files */

html, body {
  background: lightgrey;
  padding: 0;
  margin: 0;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.scrollable-y {
  overflow-y: scroll;
}

.full-width {
  width: 100%;
}
